h2,ul{margin: 0;padding: 0;}
li{list-style-type:none ;}
header{
    width: 100%;
    height: 3rem;
    nav{
        background-color: #00000046;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 3rem;
        a{
            margin-right: 2.5rem;
            list-style: none;
            font-size: large; 
            color: white;
            text-decoration: none;
        }
    }
}
main{
    .mainContents{

    }
    .HomeSlide{
        .SlidePP,.SlideTop,.SlideUP{ 
            width: 100%;
            overflow: hidden;
            article{
                padding-bottom:0; 
                .poster_contents{
                    display: flex; flex-wrap: nowrap;justify-content: flex-start;
                    transition: 1s;
                    animation: translateX 20s linear infinite;
                    animation-delay: 2s;
                }
                .poster_contents:hover{
                    animation-play-state:paused;
                }
            }
            @keyframes translateX {
                0%{transform: translate(0%);}
                100%{transform: translate(-140%);}
            }
        }

    }
    margin: 0;
    article{
        .background{
            width: 100%;
            
            height: 100vh;
            .modal{
                position: relative;
                img{width: 100%;}
                .txtContents{
                    position: absolute;
                        top: 40%;
                        right: 10%;
                        width: 30rem;
                        background-color:  #00000046;
                        padding: 1.5rem;
                        border: 1px solid white;
                    h2{color: white;}
                    p{color: white;}
                    .close-modal{
                        float: right;
                        padding: 1rem;
                        background-color: black;
                        color: aliceblue;
                    }
                }
                #search{
                    position: absolute;
                    top: 5rem;
                    left: 0;
                }
            }
        }
        background-color: black;
        width: 100vw;
        
        padding-bottom: 20rem;
        >h2{
            padding: 5rem 0 0 0rem;
            color: white;
            padding-left: 5rem;
        }
        .poster_contents{
            justify-content: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding-left: 5rem;
            
            .poster{
                width: 20vw;
                padding: 1rem;
                padding-left: 0rem;
                display: flex;
                position: relative;
                .poster_img{
                    
                    img{
                        display: flex;
                        flex-direction: row;
                    }
                    p{
                        color: white;
                        text-align: center;
                    }
                }
                .poster_img:hover ~ .poster_txtbox {
                    display: block;
                }
                .poster_txtbox{
                    z-index: 55;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    border: 1px solid white;
                    padding: 1rem;
                    background-color: black;
                    display: none;
                    color: white;
                    padding: 2rem;
                    h2{
                        
                    }
                    b{}
                    p{}
                }
                
                .poster_txtbox:nth-child(4n){
                    z-index: 55;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    border: 1px solid white;
                    padding: 1rem;
                    background-color: black;
                    display: none;
                    color: white;
                    padding: 2rem;
                    right: 100%;
                }
            }
            
            
        }
        .img:hover{
            .poster_txtbox{
                display: block;  
            }
        }
    }
}
.search{
    background-color: black;
    padding: 0;
    
    h2{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        padding: 0rem;
    }
    div{
        display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        .search_mv{

        }
        .search_button{
            
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li{
            a{
                text-decoration: none;
                .search_contents{
                    width: 200px;
                    color: aliceblue;
                    background: cover ;
                    background-repeat: no-repeat;
                    height: 300px;
                    cursor: pointer;
                    span{
                        display: none;
                    }
                    margin:1rem;

                }
                .search_contents:hover{
                    span{
                        display: inline-block;
                        padding: 0.5rem;
                        border: 1px white solid;
                        color: white;
                        background-color: #00000046;
                        text-align: center;
                        opacity: 2;
                    }
                }
            }
        }
    }
}
.detailcontent{
    background-color: black;
    height: 100vh;
    text-align: center;
    color: white;
    h2{padding: 3rem;}
    .detailall{
        width: 100%;
        height: 100%;
        
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .detailimg{
            margin: 0 5rem;
            
        }
        .detailtxt{
            padding: 1rem;
            border: 1px solid black;
            background-color: #00000046;
            color: white;
            margin: 0 5rem;
            h3{}
            p{}
            span{}
            b{}
        }
    }
    p{}
}